*{
    margin: 0;
    padding: 0;
}

ul {
    padding-bottom:100px ;
    font-size: 120%;
} 

section ul {
    padding-bottom: 0px;
}

p {
    color: rgb(255, 255, 255);
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

figure {
    text-align: center;
}

img {
    width: 30%;
}

main {
    background-image: url(decos/site-fond.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}

header {
    background-image: url(decos/site-head.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 50px;
}

header nav li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}

h1 {
    background: rgba(216, 191, 216, 0.6);
    border: 2px solid rgb(255, 255, 255);
    padding: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 300%;
}

header h2 {
    color: rgb(255, 255, 255);
    padding-top: 125px;
    padding-left: 30px;
    padding-bottom: 30px;
    font-size: 190%;
}

body {
    background-color: rgb(38, 14, 61);
}

footer {
    color: rgb(255, 255, 255);
}



/*mobile*/

@media (min-width: 768px) {
    nav li {display:grid;}
}

h1 { 
    font-size: clamp(2rem, 1.75rem + 1vw, 2.5rem); 
}