*{
    margin: 0;
    padding: 0;
}

ul {
    padding-bottom:100px ;
    font-size: 120%;
} 

.contenu ul {
    padding-bottom: 0px;
}

p {
    color: var(--color-white);
}

a {
    color: var(--color-white);
    text-decoration: none;
}

figure {
    text-align: center;
    padding-bottom: 25px;
    padding-top: 50px;
}

img {
    width: 30%;
}

main {
    background-image: url(decos/site-fond.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 5px solid var(--color-white);
    border-bottom: 5px solid var(--color-white);
}

header {
    background-image: url(decos/site-head.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 50px;
}

header nav li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}

h1 {
    background: var(--bg-color);
    border: 2px solid var(--color-white);
    padding: 30px;
    text-align: center;
    color: var(--color-black);
    font-size: 300%;
}

header h2 {
    color: var(--color-white);
    padding-top: 125px;
    padding-left: 30px;
    padding-bottom: 30px;
    font-size: 190%;
}

body {
    background-color: var(--bg-color2);
}

footer {
    color: var(--color-white);
}



/*mobile*/

@media (min-width: 768px) {
    nav li {display:grid;}
}

h1 { 
    font-size: clamp(2rem, 1.75rem + 1vw, 2.5rem); 
}