.contenu {
    border: 2px solid var(--color-white);
    background-color: rgba(216, 191, 216, 0.2);
    padding-top: 5px;
    padding-left: 5px;
    margin-bottom: 100px;
}

.contenu h2 {
    margin-top: 0px;
    color: var(--color-black);
    background: var(--bg-color);
    display: inline-block;
    padding: 10px;
}