section {
    border: 2px solid rgb(255, 255, 255);
    background-color: rgba(216, 191, 216, 0.2);
    padding-top: 5px;
    padding-left: 5px;
    margin-bottom: 100px;
}

section h2 {
    margin-top: 0px;
    color: rgb(0, 0, 0);
    background: rgba(216, 191, 216, 0.6);
    display: inline-block;
    padding: 10px;
}
