.contenu {
    border: 2px solid var(--color-white);
    background-color: rgba(216, 191, 216, 0.2);
    padding-top: 5px;
    padding-left: 5px;
}

#section2 {
    margin-top: 100px;
}

p {
    margin-bottom: 10px;
}

main {
    display: flex;
    flex-direction: column;
}

figure img:hover {
    transform: scale(1.05);
}