section {
    margin-top: 0px;
    color: rgb(0, 0, 0);
    background: rgba(216, 191, 216, 0.6);
    display: inline-block;
    padding: 10px;
}

main {
    display: flex;
    flex-direction: column;
}
