section {
    background-color: thistle;
}

#projets {
    border: 2px solid blueviolet;
    padding: 30px;
    text-align: center;
    background-color: white;
}

ul {
    border-bottom: 2px solid thistle;
    padding-bottom:50px ;
} 

header h2 {
    color: black;
    border-top: 2px solid thistle;
    padding-top: 50px;
}

header nav li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}

figure {
    text-align: center;

}
figure img {
    width: 700px;
}

body {
    background-color: rgb(196, 174, 196);
}

main {
    background-image: url(decos/dessin1.gif);
    background-repeat: no-repeat;
    padding-top: 75px ;
}